.div-1 {
    border: solid orange 5px;
    background-color: purple;
    width: 200px;
    height: 200px;
}
.div-2 {
    border: solid orange 5px;
    background-color: purple;
    border-radius: 50px;
    width: 200px;
    height: 200px;
    margin-top: -210px;
    margin-left: 230px;
}
.div-3 {
    border: solid orange 5px;
    background-color: purple;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    margin-left: 460px;
    margin-top: -210px;
}
.div-4 {
    border: solid orange 5px;
    background-color: purple;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 200px;
    height: 200px;
    margin-left: 680px;
    margin-top: -200px;
}
.div-5 {
    border: solid orange 5px;
    background-color: purple;
    border-top-left-radius: 1000px;
    width: 200px;
    height: 200px;
}
.div-6 {
    border: solid orange 5px;
    background-color: purple;
    border-radius: 80px;
    width: 200px;
    height: 200px;
    margin-left: 230px;
    margin-top: -210px;
}
.div-7 {
    border: solid orange 5px;
    background-color: purple;
    width: 200px;
    height: 200px;
    border-bottom-right-radius: 1000px;
    border-top-left-radius: 1000px;
    margin-left: 460px;
    margin-top: -210px;
}
.div-8 {
    border: solid orange 5px;
    background-color: purple;
    width: 200px;
    height: 200px;
    border-top-left-radius: 250px ;
    border-top-right-radius: 250px ;
    margin-left: 680px;
    margin-top: -205px;
}
.div1 {
    border: solid 5px red;
    background-color: green;
    height: 500px;
    width: 700px;
    border-radius: 150px;
}
.div1-1 {
    border: solid 1px black;
    background-color: blue;
    height: 300px;
    width: 500px;
    margin:auto;
    margin-top: 70px;
}
.div2 {
    border: solid 5px red;
    background-color: orange;
    height: 500px;
    width: 700px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 130px;
    border-top-right-radius:70px;
    margin-left: 800px;
    margin-top: -500px;
}
.div2-2 {
    border: solid 1px black;
    background-color: blue;
    height: 300px;
    width: 500px;
    margin:auto;
    margin-top: 70px;
}
.div3 {
    border: solid 5px red;
    background-color:aqua;
    height: 500px;
    width: 700px;
    border-bottom-left-radius: 250px;
    border-bottom-right-radius: 70px;
    border-top-left-radius: 70px;
    border-top-right-radius:250px;
}
.div3-3 {
    border: solid 1px black;
    background-color: blue;
    height: 300px;
    width: 500px;
    margin:auto;
    margin-top: 70px;
}
.div4 {
    border: solid 5px red;
    background-color: gray;
    height: 500px;
    width: 700px;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 600px;
    border-top-right-radius:30px;
    margin-left: 800px;
    margin-top: -500px;
}
.div4-4 {
    border: solid 1px black;
    background-color: blue;
    height: 300px;
    width: 500px;
    margin-left: 30px ;
    margin-top: 60px;
}